<a href="https://colab.research.google.com/github/Jonelskieee/CpE0332.1-1-Elective-3/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [54]:
x = 3
y = 2
if x > y:
  print("Five is greater than two")

Five is greater than two

Python Comment

In [11]:
print("Hello World") #This is a Python comment

Hello World

Python Variable

In [25]:
z = 1
z,s = 0,-1
z,s,t = 8,9,10
z
s
t

10

Python Casting

In [29]:
b = "Sally" #This is a string
b = float(4)
b

4.0

Type() function

In [30]:
print(type(b))

<class 'float'>

Double Quotes and Single Quotes

In [34]:
w = "Ana"
print(w)
q = 'Ana'
print(q)

Ana
Ana

Case Sensitive

In [38]:
a = int(4)
A = "Sally"
a
A

'Sally'

Multiple Variables

In [40]:
h,i,j = "one",'two',"three"
print(h)
print(i)
print(j)

one
two
three

Multiple Variables with Single Value

In [43]:
k = l = m = "four"
print(k)
print(l)
print(m)

four
four
four

Output Variable and Concatenation +

In [51]:
n = "enjoying"
p = "Python programming is "
print(p + n)

Python programming is enjoying

Arithmetic Operations

In [63]:
print(x+y) #Addition
print(x-y) #Subtraction
print(x*y) #Multiplication
print(round(5/3),2) #Division
print(x//y) #Floor Division
print(x%y) #Modulus
print(x**y) #Exponentiation

5
1
6
2 2
1
1
9

Assignment Operators

In [64]:
x+=3 #same as x = x+3
print(x)

6

Comparison Operator

In [68]:
print(x==y) # x=3, y=2
print(x!=y)
print(x>y)
print(x<y)

False
True
True
False

Logical Operator

In [72]:
print(x==y and x!=y) #False and True
print(x==y or x!=y) #False or True
print(not(x==y or x!=y)) #negate(False or True)

False
True
False

Identity Operator

In [74]:
x is y # x=3, y=2
x is not y

True

Bitwise Operator

In [83]:
#10+1 = 11   ; 1010 + 0001 = 1011
print(10 | 1)

print(x>>1) #x=3, 011

11
3

Application 1

In [ ]:
#Create a Python program that displays your Fullname, Age, and Course and Section

In [87]:
Full_Name = "Joseph Nathaniel Alambra, "
Age = "21, "
Course_Section = "ELECTIVE 3 (LABORATORY) - CPE 0332.1-1"
print(Full_Name + Age + Course_Section)

Joseph Nathaniel Alambra, 21, ELECTIVE 3 (LABORATORY) - CPE 0332.1-1